repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        name: Check JSON files
        exclude: ^\.vscode/
      - id: check-yaml
        name: Check YAML files
      - id: end-of-file-fixer
        name: Ensure proper file endings
      - id: trailing-whitespace
        name: Remove unnecessary whitespace from code
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v10.0.0-rc.2"
    hooks:
      - id: eslint
        name: Lint JavaScript and TypeScript code
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        additional_dependencies:
          - eslint@9.12.0
          - eslint-plugin-svelte@2.44.1

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.1
    hooks:
      - id: commitizen
        name: Check commit messages
        stages: [commit-msg]
